/* Computador (maiores que 500px) */
@media screen and (min-width: 500px) {
    .main {
        margin-top: 7%;
    }

    .banner {
        position: relative;
        width: 100%;
        background-image: url("img/5.png");
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: right;
    }

    .banner-container {
        width: 50%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .topicos {
        text-align: center;
    }

    .servicos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .icon {
        width: 150px;
        height: 150px;
        margin-bottom: 20%;
        border-radius: 10px;
    }

    .servicos-container {
        display: flex;
        flex-direction: row;
        width: 60%;
    }

    .fadeIn {
        opacity: 0;
        animation: fadeInAnimation 2s ease forwards;
        width: 80%;
        text-align: center;
        color: var(--branco);
        margin-top: 10%;
        font-weight: 400;
        font-size: var(--font-size-h2);
        margin: 25%;
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

/* Tablets e dispositivos entre 500px e 768px */
@media screen and (max-width: 768px) and (min-width: 500px) {
    .banner-container {
        height: 50%;
    }

    .card {
        width: 50%;
    }

    .servicos-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .icon {
        width: 120px;
        height: 120px;
        margin-bottom: 10%;
    }

    .fadeIn {
        width: 100%;
        font-size: 1.5rem;  /* Ajuste no tamanho da fonte */
    }
}

/* Smartphones entre 320px e 500px */
@media screen and (max-width: 500px) {
    .banner {
    }

    .banner-container {
        width: 100%;
        background-image: url(img/5.png);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    .topicos {
        font-size: 1rem; /* Ajuste para telas menores */
        text-align: center;
    }

    .servicos {
        width: 100%;
    }

    .card {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .icon {
        width: 100px;
        height: 100px;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .servicos-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .fadeIn {
        width: 40%;
        font-size: 1.2rem; /* Ajuste no tamanho da fonte */
        margin: 5%;
        text-align: center;
        color: var(--branco);
        font-size: 10px;
    }
}

/* Para telas menores que 320px, como alguns celulares antigos */
@media screen and (max-width: 319px) {
    .banner {
        height: 50vh;
    }

    .banner-container {
        width: 90%;
        height: 50%;
    }

    .card {
        width: 100%;
        padding: 0.5rem;
    }

    .icon {
        width: 80px;
        height: 80px;
    }

    .fadeIn {
        font-size: 1rem;
        margin-top: 5%;
    }
}
