/* Computador (maiores que 500px) */
@media screen and (min-width: 500px) {
    .banner {
        position: relative;
        width: 100%;
        background-image: url("img/banner2.png");
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: left;
    }

    .banner-container {
        width: 50%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.548);
    }

    .sobre{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3% 0;
    }

    .titulo-sobre{
        width: 600px;
        line-height: 2rem;
    }

    .texto-sobre{
        width: 750px;
        font-weight: 400;
        margin-bottom: 3%;
    }

    .banner-sobre{
        width: 100%;
        background-image: url(img/banner.png);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: right;
    }

    .container-banner-sobre{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.548);
    }

    .texto-botao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fadeIn, #fade-in2{
        margin-bottom: 0;
        margin-top: 20%;
    }

    .btn-sobre{
        background-color: transparent;
        border: 0.1px solid #f9f9f948;
        cursor: pointer;
        margin-top: 10%;
        margin-bottom: 25%;
        color: var(--branco);
        font-size: var(--font-size-h1);
        padding: 2%;
        font-weight: bold;
        font-family: var(--fonte);
        border-radius: 5px;
    }

    .btn-sobre:hover{
        background-color: rgba(255, 255, 255, 0.336);
    }

    .topicos {
        text-align: center;
    }

    .servicos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .icon {
        width: 150px;
        height: 150px;
        margin-bottom: 20%;
        border-radius: 10px;
    }

    .servicos-container {
        display: flex;
        flex-direction: row;
        width: 60%;
    }

    .fadeIn {
        opacity: 0;
        animation: fadeInAnimation 2s ease forwards;
        width: 80%;
        text-align: center;
        color: var(--branco);
        margin-top: 10%;
        font-weight: 400;
        font-size: var(--font-size-h1);
        font-family: var(--fonte);
        margin: 30% 10%;
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

/* Tablets e dispositivos entre 500px e 768px */
@media screen and (max-width: 768px) and (min-width: 500px) {
    .main {
        padding-top: 100px;
    }

    .banner-container {
        height: 50%;
    }

    .titulo-sobre{
        width: 500px;
        line-height: 2rem;
        font-size: var(--font-size-h1);
    }

    .texto-sobre{
        width: 500px;
        font-weight: 400;
        margin-bottom: 3%;
    }

    .card {
        width: 50%;
    }

    .servicos-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .icon {
        width: 120px;
        height: 120px;
        margin-bottom: 10%;
    }

    .fadeIn {
        width: 100%;
        font-size: 1.2rem;
        font-family: var(--fonte);
        font-weight: 400;
    }
}

/* Smartphones entre 320px e 500px */
@media screen and (max-width: 500px) {

    .main{
        padding: 0;
    }

    .banner{
        width: 100%;
        background-image: url(img/fundo.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: right;
        height: 400px;
        align-items: center;
        margin-top: 5%;
    }

    .banner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color:rgba(0, 0, 0, 0.548) ;
    }
    

    .banner-sobre{
        width: 100%;
        background-image: url(img/banner2.png);
        background-position: center;
        background-size: cover;
        height: 400px;
    }

    .btn-sobre{
        background-color: transparent;
        border: 0.1px solid #f9f9f948;
        cursor: pointer;
        margin: 10% 0 10% 0;
        color: var(--branco);
        font-size: var(--font-size-h1);
        padding: 2%;
        font-weight: bold;
        font-family: var(--fonte);
        border-radius: 5px;
        font-size: 1.3rem;
    }

    .btn-sobre:hover{
        background-color: rgba(255, 255, 255, 0.336);
    }

    .container-banner-sobre{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.548);
        height: 100%;
    }

    .sobre{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3% 0;
    }

    .texto-botao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo-sobre{
        font-size: 1.3rem;
        width: 90%;
        margin-bottom: 10px;
    }

    .texto-sobre{
        font-size: 1rem;
        width: 90%;
        margin-bottom: 10px;
        text-align: justify;
    }

    .topicos {
        font-size: 1rem;
        text-align: center;
    }

    .servicos {
        width: 100%;
    }

    .card {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .icon {
        width: 100px;
        height: 100px;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .servicos-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .fadeIn {
        margin: 0 5%;
        text-align: center;
        color: var(--branco);
        font-size: 1.3rem;
    }
}

/* Para telas menores que 320px, como alguns celulares antigos */
@media screen and (max-width: 319px) {
    
    .banner-container {
        width: 100%;
    }

    .banner-sobre{
        width: 100%;
        background-image: url(img/banner2.png);
        background-position: center;
        background-size: cover;
    }

    .card {
        width: 100%;
    }

    .icon {
        width: 80px;
        height: 80px;
    }

    .fadeIn {
        font-size: 0.6rem;
        margin-top: 5%;
    }
}
