/* Computador (maiores que 500px) */
@media screen and (min-width: 500px) {
    .rodape {
        background: var(--preto2);
        margin-top: 5vh;
        bottom: 0;
        left: 0;
        padding: 1vw;
    }

    .texto_rodape {
        font-family: var(--fonte);
        font-size: var(--font-size-base);
        text-align: center;
        margin-bottom: 0.5vh;
        color: var(--branco);
        font-weight: 550;
    }

    #contato {
        font-weight: bold;
        font-size: var(--font-size-h1);
        text-align: center;
        margin-bottom: 0.5vh;
        color: var(--branco);
        font-family: var(--fonte-titulo);
    }

    .texto_rodape_index {
        text-align: center;
        margin-top: 3vh;
    }

    #email {
        margin-bottom: 1vh;
    }

    .social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1% 0;
    }

    .social-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 15%;
    }

    .icon-contato {
        width: 30px;
        cursor: pointer;
    }
}

/* Tablets (máximo 768px e mínimo 500px) */
@media screen and (max-width: 768px) and (min-width: 500px) {
    .rodape {
        padding: 2vw 5vw; /* Aumenta o espaçamento lateral em tablets */
    }

    .texto_rodape {
        font-size: 1rem; /* Ajusta o tamanho da fonte */
    }

    #contato {
        font-size: 1.5rem; /* Ajuste do tamanho da fonte de contato */
    }

    .social-container {
        width: 40%; /* Aumenta a largura dos ícones de contato em tablets */
        justify-content: space-around; /* Ajusta o espaçamento */
    }

    .icon-contato {
        width: 40px; /* Aumenta o tamanho dos ícones */
    }
}

/* Smartphones (máximo 500px) */
@media screen and (max-width: 500px) {
    .rodape {
        margin-top: 10%;
        padding: 2vw 4vw; /* Ajuste o espaçamento lateral para ocupar mais a tela */
        background-color: var(--preto2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .texto_rodape {
        font-size: 0.9rem; /* Reduz o tamanho da fonte em telas menores */
        color: var(--branco);
        text-align: center;
    }

    #contato {
        font-size: 1.2rem; /* Ajuste para o tamanho adequado em smartphones */
        color: var(--branco);
        text-align: center;
    }

    .social {
        flex-direction: row; /* Muda os ícones para alinhamento em linha */
        justify-content: center;
        align-items: center;
        margin: 2% 0;
        width: 100%;
    }

    .social-container {
        width: 100%; /* Aumenta o tamanho dos ícones em smartphones */
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    .icon-contato {
        width: 25px; /* Ajuste no tamanho dos ícones para caber melhor na tela */
        margin: 2%;
    }

    #email {
        margin-bottom: 0.5vh; /* Reduz o espaçamento para otimizar o layout */
    }
}

/* Telas menores que 320px, como alguns celulares antigos */
@media screen and (max-width: 319px) {
    .rodape {
        padding: 2vw 3vw; /* Ajuste o espaçamento lateral para telas muito pequenas */
        background-color: var(--preto2);
    }

    .texto_rodape {
        font-size: 0.8rem; /* Reduz ainda mais o tamanho da fonte */
    }

    #contato {
        font-size: 1rem; /* Ajuste da fonte para dispositivos antigos */
    }

    .social {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2% 0;
    }

    .social-container {
        width: 70%; /* Aumenta o tamanho dos ícones */
        justify-content: space-between; /* Melhora o espaçamento para dispositivos menores */
    }

    .icon-contato {
        width: 20px; /* Ajuste menor dos ícones para caber na tela pequena */
    }
}
