:root {
    --azulescuro: #0D21A1;
    --azulmedio: #4D8EDE;
    --azulclaro: #0D21A1;
    --amareloescuro: #EEC643;
    --amareloclaro: #FFE45E;
    --transparent: transparent;
    --cinzaescuro: #B8BDB5;
    --cinzaclaro: #EEF0F2;
    --branco: #F9F9F9;
    --preto: #141414;
    --preto2: #011638;
    --corselectbox: #757575;
    --font-size-base: 1rem;
    --font-size-h1: 1.7rem;
    --font-size-h2: 1.2rem;
    --font-size-h3: 1.05rem;
    --fonte: "Lato", sans-serif;
    --fonte-titulo: "Arvo", serif;
    --fonte-header:"Lato", sans-serif;
}