/* Estilizar o bloco do Instagram */
.instagram-embed {
    position: fixed;
    top: 20%;
    left: 5px;
    height: 50%;
    width: auto; /* Ajuste para telas menores */
    max-width: 400px; /* Define um valor máximo de largura */
    border-radius: 10px;
    z-index: 10;
    background-color: transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Estilizar o botão de fechar */
.close-btn {
    position: relative;
    top: 0;
    left: 93%;
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    z-index: 11; /* Garante que o botão fique acima do conteúdo */
    font-size: 25px;
}

.close-btn:hover {
    color: #ff0000;
}

.instagram-embed iframe {
    height: 100%; /* Faz o vídeo ocupar 100% da altura do bloco */
    width: 100%; /* Faz o vídeo ocupar 100% da largura do bloco */
}

.sobre{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-sobre{
    text-indent: 20px;
    font-size: 1.1rem;
    margin: 10px 0;
    text-align: justify;
    font-weight: bold;
}

.btn-sobre{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: var(--preto2);
    font-size: 1rem;
    margin-top: 4px;
    cursor: pointer;
    font-family: var(--fonte);
    font-weight: 700;
}

/* Estilos responsivos para telas menores */
@media screen and (max-width: 768px) {
    .instagram-embed {
        top: 5%;
        left: 0;
        width: auto;
    }
}

.instagram-embed iframe {
    height: 100%;
    width: 100%;
}