/* styles.css */
.fade-in-box {
  opacity: 0; /* Começa invisível */
  transition: opacity 3s ease-in; /* Aplica a transição de fade-in em 3 segundos */
  text-align: center;
  padding: 20px;
  background-color: lightblue;
  border-radius: 10px;
  margin-top: 100px;
}

/* Essa classe será adicionada via JavaScript */
.fade-in-box.show {
  opacity: 1; /* Torna-se visível quando essa classe for aplicada */
}
